<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication"
    tools:ignore="CoarseFineLocation">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity android:name=".activities.VerifyPhone"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activities.Register"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activities.ForgotPassword"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activities.PatientMenu"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activities.CaregiverMenu"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activities.ChronometerActivity"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activities.MedicalData"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activities.BluetoothDevices"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".models.MedicalData"
            tools:ignore="Instantiatable" />
        <activity android:name=".activities.CrisisDetails"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".activities.Login"
            android:theme="@style/Theme.AppCompat.Light"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".services.CronometerService" />
    </application>
</manifest>
